<div class="container">
<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Save cocktail", class: "btn btn-primary" %>
<% end %>
 <h4><%= link_to "Back to main page", cocktails_path %></h4>
</div>
